/*
	main.css
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -- CSS reset -- */

/* -- Fixed -- */

html{
	font-size: 10px;
	font-family: 'Lato','Helvetica Neue','Helvetica','Roboto',Arial,sans-serif;
    background-color: #eee;
}

/* -- Fixed -- */

.form {
    text-align: left;
    background: #fff;
    border: 1px solid #ccc;
    -o-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
}

.container {
    padding-top: 2rem;
	padding-bottom: 4rem;
	width: 640px !important;
}

.wufoo-form-container {
    padding: 1rem;
	padding-top: 1.5rem;
	height: 1300px !important;
}

.form header {
    height: 5rem;
    background-color: #6f5499;
}