/*
	main.css
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

	* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-font-smoothing: antialiased;
			-moz-font-smoothing: antialiased;
			-o-font-smoothing: antialiased;
			font-smoothing: antialiased;
			text-rendering: optimizeLegibility;
    }
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -- CSS reset -- */

/* -- Fixed -- */

html{
	font-size: 10px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji",
	"Segoe UI Symbol","Noto Color Emoji", 'Lato','Helvetica';
}


/* -- Fixed -- */
body{
	padding: 0em;
	text-align: center;
	background-color: #fff;
	font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji",
	"Segoe UI Symbol","Noto Color Emoji", 'Lato','Helvetica';
	letter-spacing: 0.01em;
}

.container {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea,
button[type="submit"] {
	font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
	background: #F9F9F9;
	padding: 25px;
	margin: 50px 0;
	max-width: 500px;
}

h3 {
	color: #222;
	display: block;
	font-size: 24px;
	font-weight: 600;
}

h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
	width: 100%;
	border: 1px solid #CCC;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #AAA;
}

#contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}

.btn {
	background-color: #3498db;
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.btn:hover{
	background: #aaa;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
	color:white;
	background-color:#2980b9
}

btn:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.btn:disabled,
.btn[disabled=disabled] {
color:#FFFFFF;
background-color:#999;
}

.btn.right {
float: right;
}

input:focus,
textarea:focus {
	outline: 0;
	border: 1px solid #999;
}

::-webkit-input-placeholder {
	color: #888;
}

:-moz-placeholder {
	color: #888;
}

::-moz-placeholder {
	color: #888;
}

:-ms-input-placeholder {
	color: #888;
}

#crmWebToEntityForm tr,
#crmWebToEntityForm td {
	padding: 6px;
	border-spacing: 0px;
	border-width: 0px;
}

#formsubmit,
#formreset {
	cursor: pointer;
	font-size: 14px;
	color: #000000;
	height: 30px;
	width: 45%;
}

#main {
	background-color: rgb(229,226,229);
	display: block;
	width: 100%;
	height:100vh;
}

#iPhone {
	position: absolute;
	top: 0;
	left: 0;
	width: 50vw;
	height: 0;
	display: inline-block;
	margin: 50vh 35vw;
	text-align: center;
}

#iPhone2 {
	position: absolute;
	top: 20;
	left: 0;
	width: 50vw;
	height: 0;
	display: inline-block;
	margin: 50vh 35vw;
	text-align: center;
}

#main_text {
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 50vw;
	height: 100vh;
	text-align: left;
}

#main_text2 {
	background-color: #fff;
	position: absolute;
	top: 20;
	right: 0;
	display: inline-block;
	width: 50vw;
	height: 100vh;
	text-align: left;
}

#main_text > span {
	display: inline-block;
	margin: 0 8rem 0 6.5rem;
	position: absolute;
	top: 50%;
	margin-top: -24rem;
	min-width: 50rem;
}

#main_text2 > span {
	display: inline-block;
	margin: 0 8rem 0 6.5rem;
	position: absolute;
	top: 50%;
	margin-top: -24rem;
	min-width: 50rem;
}

#main_text span h1 {
	font-size: 4.2rem;
	font-weight: 500;
	margin-bottom: 3.5rem;
	color: black;
}

#main_text span h2 {
	font-size: 4rem;
	font-weight: 600;
	margin-bottom: 2rem;
	color: #000;
	line-height: auto;
}

#main_text2 span h1 {
	font-size: 4.2rem;
	font-weight: 500;
	margin-bottom: 3.5rem;
}

#main_text2 span h2 {
	font-size: 4rem;
	font-weight: 600;
	margin-bottom: 2rem;
	color: #000;
	line-height: auto;
}

#main_text span p {
	font-size: 1.7rem;
	font-weight: 400;
	line-height: 1.6;
	margin-bottom: 2rem;
}

#main_text2 span p {
	font-size: 1.7rem;
	font-weight: 400;
	line-height: 1.6;
	margin-bottom: 2rem;
}

div.apple-store-badge {
	text-align: right;
	/* padding-top: 3rem; */
	padding-right: 1rem;
}

div.apple-store-badge img {
	height: 40px;
	min-width: 40px;
	min-height: 40px;
}

#iPhoneXImageFront2 {
	background: URL("../images/iphoneX20.png");
	width: 26rem;
	height: 52rem;
	margin-top: -52rem;
	margin-left: -13rem;
}

#iPhoneXImageBack2 {
	background: URL("../images/iphoneX21.png");
	width: 26rem;
	height: 52rem;
	margin-top: -26rem;
	margin-left: -13rem;
}

#iPhoneXImageFront {
	background: URL("../images/iPhoneX00.png");
	width: 26rem;
	height: 52rem;
	margin-top: -52rem;
	margin-left: -13rem;
}

#iPhoneXImageBack {
	background: URL("../images/iPhoneX01.png");
	width: 26rem;
	height: 52rem;
	margin-top: -26rem;
	margin-left: -13rem;
}

#main_text aside{
	display: block;
	position: absolute;
	right: 3rem;
	top: 1.5rem;
	overflow: hidden;
}

#main_text aside ul {
	position: relative;
}

#main_text aside li {
	float: left;
}

#main_text aside li:first-of-type {
	margin-right: 2.1rem;
}

#main_text aside li:first-of-type::after{
	content: "";
	display: inline-block;
	position: absolute;
	top: 1.25rem;
	right: 3.5rem;
	margin-left: 1rem;
	margin-top: -1.25rem;
	height: 2rem;
	width: 0.1rem;
	background-color: #ddd;
}

#main_text aside img{
	display: block;
	width: 3.5rem;
	height: auto;
	vertical-align: baseline;
}

#main_text aside a{
	width: 2.5rem;
	height: auto;
}

#main_text2 aside{
	display: block;
	position: absolute;
	right: 3rem;
	top: 1.5rem;
	overflow: hidden;
}

#main_text2 aside ul {
	position: relative;
}

#main_text2 aside li {
	float: left;
}

#main_text2 aside li:first-of-type {
	margin-right: 2.1rem;
}

#main_text2 aside li:first-of-type::after{
	content: "";
	display: inline-block;
	position: absolute;
	top: 1.25rem;
	right: 3.5rem;
	margin-left: 1rem;
	margin-top: -1.25rem;
	height: 2rem;
	width: 0.1rem;
	background-color: #ddd;
}

#main_text2 aside img{
	display: block;
	width: 3.5rem;
	height: auto;
	vertical-align: baseline;
}

#main_text2 aside a{
	width: 2.5rem;
	height: auto;
}

#register {
	font-size: 1.75rem; 
	margin-bottom: .5rem; 
	font-weight: 500; 
	line-height: 1.2;
}

footer {
	display: block;
	position: absolute;
	left: 5rem;
	bottom: 2rem;
	margin-right: 5rem;
}

footer #enterprise_info {
	margin: 0px;
	padding: 0px !important;
	font-weight: bold;
	font-size: 1.4rem;
	color: #000392;
}

footer a {
	font-size: 1.6rem !important;
	margin-left: 1.5rem;
	padding: 0px !important;
	color: #428bca;
}

#legalRemarks {
	margin-top: 1.2rem !important;
	min-width: 50rem;
}

#legalRemarks h3 {
	margin-right: 0.7rem;
	font-weight: 600;
	font-style: italic;
}

#legalRemarks p {
	font-style: italic;
	margin-bottom: 0px !important;
}

#legalRemarks, #legalRemarks span {
	margin: 0rem;
	padding: 0rem;
}

#white-disclaimer {
	color: #fff;
}

#legalRemarks h3,
#legalRemarks p
{
	display: inline-block;
	font-size: 1.2rem !important;
}

#logo {
	position: absolute;
	left: 3rem;
	top: 2rem;
	width: auto;
	height: 8rem;
}

#logo2 {
	position: absolute;
  left: 1rem;
	margin-left: 20px;
	margin-top: 20px;
	width: auto;
	height: 8rem;
}


#gym2gym{
	position: absolute;
	left: 3rem;
	top: 8rem;
	width: 11rem;
	height: auto;
	font-weight: 500;
	font-size: 13px;
	text-align: left;
	line-height: 1.5;
}

.container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.apple-icons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.signin-button {
	width: 210px;
	height: 40px;
}

.modal {
	max-width: 800px !important;
}

#modal-contato {
	width: 800px;
}

.modal-dialog {
	height: inherit;
}
.modal-content-regulamento {
		height: 600px;
}

.modal-actions{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 15px;
}
#modal-firebase-simulation {
	width: 400px;
}

.modal-content-firebase-simulacao {
    height: 290px;
}

.modal-content-contato{
	width: 650px;
  height: 95%;
}

.bg-contato{
    background: #B8D4DE;
}

@media all and (max-width:30em){
	.btn{
		display:block;
		margin:0.4em auto;
	}
}